<!-- EGG -->
<div
  class="card flip-card-front d-flex clickable pigeon-card-default"
  *ngIf="
    pigeon.is_open === false && (secondLeft === undefined || secondLeft === 0)
  "
  (click)="openCard()"
>
  <p class="m-auto image">
    <fa-icon class="big-icon" [icon]="faEgg"></fa-icon> <br />
    Open <fa-icon [icon]="faHandPointer"></fa-icon>
  </p>
</div>

<div
  class="card flip-card-front d-flex pigeon-card-default"
  *ngIf="pigeon.is_open === false && !!secondLeft"
>
  <p class="m-auto image">
    <fa-icon class="big-icon" [icon]="faEgg"></fa-icon> <br />
    <progress
      class="progress is-primary"
      [value]="secondLeft"
      [max]="maxSecondLeft"
    ></progress>
  </p>
</div>

<!-- PIGEON-->

<div
  class="card pigeon-card-default is-mobile" [ngClass]="classToApply"
  *ngIf="pigeon.is_sold === false && pigeon.is_open"
>
  <div class="card-header px-3 py-2">
    <div class="elem-n-rarety d-flex">
      <div class="mv-auto d-flex mx-1">
        <app-pigeon-card-header [pigeon]="pigeon"></app-pigeon-card-header>
      </div>
    </div>
    <button class="absolute button is-danger p-2"[disabled]="pigeon.is_in_team_A || pigeon.is_in_team_B" (click)="sellPigeon()">
      Sell {{ pigeon.feathers }} <fa-icon [icon]="faFeatherAlt"></fa-icon>
    </button>
  </div>
  <div class="card-image is-hidden-mobile">
    <figure class="image is-square">
      <img [src]="'assets/pigeons/' + pigeon.src" alt="Placeholder image" />
    </figure>
  </div>
  <div class="card-content py-0 is-hidden-mobile">
    <h1>
      <span class="pigeon-name"
        >{{ pigeon.name }} ({{ pigeon.droppings_minute }}&nbsp;<fa-icon
          [icon]="faPoop"
        ></fa-icon
        >/m)</span
      >
    </h1>
    <div class="columns is-mobile">
      <div class="box column is-one-third has-background-danger has-text-white">
        <span
          >{{ pigeon.phys_atk }} <fa-icon [icon]="faFistRaised"></fa-icon
        ></span>
      </div>
      <div
        class="box column is-one-third has-background-primary has-text-white"
      >
        <span
          >{{ pigeon.magic_atk }} <fa-icon [icon]="faHatWizard"></fa-icon
        ></span>
      </div>
      <div class="box column is-one-third has-background-info has-text-white">
        <span
          >{{ pigeon.shield }} <fa-icon [icon]="faShieldAlt"></fa-icon
        ></span>
      </div>
    </div>
  </div>
  <div class="columns is-multiline is-mobile is-hidden-tablet my-3">
    <div class="column p-0">
      <figure class="image is-square">
        <img [src]="'assets/pigeons/' + pigeon.src" alt="Placeholder image" />
      </figure>
    </div>
    <div class="column m-auto pt-0">
      <div class="columns has-text-centered ">
        <div class="box p-1 mb-1 column is-one-third has-background-danger has-text-white">
          <span
            >{{ pigeon.phys_atk }} <fa-icon [icon]="faFistRaised"></fa-icon
          ></span>
        </div>
        <div class="box p-1 mb-1 column is-one-third has-background-primary has-text-white">
          <span
            >{{ pigeon.magic_atk }} <fa-icon [icon]="faHatWizard"></fa-icon
          ></span>
        </div>
        <div class="box p-1 column is-one-third has-background-info has-text-white">
          <span
            >{{ pigeon.shield }} <fa-icon [icon]="faShieldAlt"></fa-icon
          ></span>
        </div>
      </div>
    </div>
    <p class="column has-text-centered is-size-7 is-full m-0 p-0">
      {{ pigeon.name }} ({{ pigeon.droppings_minute }}<fa-icon [icon]="faPoop"></fa-icon>/m)
    </p>
  </div>
  <footer class="card-footer m-0-mobile">
    <ng-content></ng-content>
  </footer>
</div>
