.element{
    border: 2px solid darkgray;
    border-radius: 50%;
    width: 22px;
    height: 22px;
}
.elem-n-rarety fa-icon{
    font-size: small;
}
.elem-n-rarety .icon-pigeon-type{
    font-size: medium;
}
.card-header{
    display: block;
}
.mx-1{
    margin-left: 0.2rem !important;
    margin-right: 0.2rem !important;
}
.pigeon-name{
    font-size: small;
}
.absolute{
    font-size: small;
    position: absolute;
    right: 0;
    top: 0;
    padding: 19px 10px!important;
}
.dashed{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: large;
    text-align: center;
}
footer{
    margin-top: 20px;
}
.card-footer-item{
    font-size: initial;
    line-height: 0;
    padding: 0.75rem !important;
}
span.card-footer-item{
    font-size: small;
}
.columns.is-mobile > .column.is-one-third {
    height: 100%;
    margin-bottom: 0;
    font-size: small;
    padding: 3px 0px;
    text-align: center;
}
h1{
    text-align: center;
    span{
        font-size: small;
    }
}
.flip-card-front{
    box-shadow: 0 1em 2em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.1) !important;
    height: 100%;
    color: lightgrey;
    .image{
        padding-top: 50%;
        padding-bottom: 50%;
        text-align: center;
        .big-icon{
            font-size: 5em;
        }
    }
}
.flip-card-front.clickable:hover{
    box-shadow: 0 1em 2em -0.125em grey, 0 0px 0 1px grey !important;
    transition: box-shadow 0.3s;
}
.flip-card-front.clickable{
    cursor: pointer;
    color: #4a4a4a;
    transition: box-shadow 0.3s;
}
.pigeon-name{
    font-family: 'Preahvihear';
}
@media (max-width : 768px) {
    .m-0-mobile{
        margin: 0 !important;
    }
}