.previous{
    left: 30px;
}
.next{
    right: 30px;
}
.previous, .next{
    position: absolute;
    top: 50%;
    cursor: pointer;
}
figure{
    width: 80%;
    margin: auto;
    background-color: black;
    img{
    height: auto;
    margin: auto;
    display: block;
    }
}
p{
    padding: 10px 40px;
}