<div class="container" *ngIf="this.userList">
    <div class="columns is-hidden-mobile is-multiline">
        <div class="column is-2">
            
        </div>
        <div class="column is-2">
            Attacker
        </div>
        <div class="column is-2">
            Defender
        </div>
        <div class="column is-5">
            Result
        </div>
        <div class="column is-1">
            Detail
        </div>
        <div class="column is-full card mb-3 has-text-white" [ngClass]="message.winner_id === user.id? 'has-background-success' : 'has-background-danger'" *ngFor="let message of messages">
            <div class="columns m-auto">
                <div class="column is-2">
                  <fa-icon [icon]="faShieldAlt" class="has-size-2"></fa-icon>
                </div>
                <div class="column is-2">
                    {{getUser(message.attacker)}}
                </div>
                <div class="column is-2">
                    {{getUser(message.defender)}}
                </div>
                <div class="column is-5">
                    {{message.winner_id === user.id? 'Victory':'Defeat'}}
                </div>
                <div class="column is-1">
                    <fa-icon class="is-size-4	is-clickable" [icon]="faEye" (click)="openModal(message.id)"></fa-icon>
                </div>
            </div>
            <div class="has-text-right is-size-7">
                {{message.created_at|date:'medium'}}
            </div>
        </div>
    </div>
    <div class="columns is-hidden-tablet is-mobile is-multiline">
      <div class="column is-full card mb-3 has-text-white" [ngClass]="message.winner_id === user.id? 'has-background-success' : 'has-background-danger'" *ngFor="let message of messages">
        <div class="columns is-multiline is-mobile m-auto">
          <div class="column d-flex is-one-quarter">
            <fa-icon *ngIf="message.attacker === user.id;else playerWasAttaked" [icon]="faFistRaised" class="is-size-1 m-auto"></fa-icon>
            <ng-template #playerWasAttaked>
              <fa-icon [icon]="faShieldAlt" class="is-size-1 m-auto"></fa-icon>
            </ng-template>
          </div>
          <div class="column columns is-mobile is-multiline is-three-quarters">
            <div class="column is-half has-text-centered">
              <span class="has-text-weight-semibold is-size-5">
                Attacker
              </span><br>{{getUser(message.attacker)}}
            </div>
            <div class="column is-half has-text-centered">
              <span class="has-text-weight-semibold is-size-5">
                Defender
              </span><br>{{getUser(message.defender)}}
            </div>
            <div class="column is-full is-size-3 has-text-centered">
              {{message.winner_id === user.id? 'Victory':'Defeat'}}
            </div>
          </div>
          <button class="column button is-white mb-2 is-full" (click)="openModal(message.id)"> See details</button>
        </div>
        <div class="has-text-right is-size-7">
            {{message.created_at|date:'medium'}}
        </div>
      </div>
    </div>
    <app-modal
      [title]="modalTitle"
      [headerBackground]="modalHeaderBackground">
      <div class="columns is-multiline is-mobile has-text-centered" *ngIf="modal && attackResult">
        <div class="column is-two-fifths pigeons">
          Attacker ({{getUser(attackResult.attacker)}}) <br>
          <app-attack-pigeon class="my-1" *ngFor="let attackPigeon of attackPigeons" [pigeon]="attackPigeon"></app-attack-pigeon>
        </div>
        <div class="column is-size-4 is-one-fifths vs">
          {{attackResult.atk_tot_score}} VS {{attackResult.def_tot_score}}
        </div>
        <div class="column is-two-fifths pigeons">
          Defender ({{getUser(attackResult.defender)}}) <br>
          <app-attack-pigeon class="my-1" *ngFor="let defendPigeon of defensePigeons" [pigeon]="defendPigeon"></app-attack-pigeon>
        </div>

        <div class="column is-half" *ngIf="attackResult">
          You<br>
          <fa-icon [icon]="faFistRaised"></fa-icon>
          {{attackResult.atk_tot_phys}}<br>
          <fa-icon [icon]="faHatWizard"></fa-icon>
          {{attackResult.atk_tot_magic}}<br>
          <fa-icon [icon]="faShieldAlt"></fa-icon>
          ({{attackResult.atk_shield_blocs}} block<span *ngIf="attackResult.atk_shield_blocs > 1">s</span>)
        </div>
        <div class="column is-half">
          Oponent<br>
          <fa-icon [icon]="faFistRaised"></fa-icon>
          {{attackResult.def_tot_phys}}<br>
          <fa-icon [icon]="faHatWizard"></fa-icon>
          {{attackResult.def_tot_magic}}<br>
          <fa-icon [icon]="faShieldAlt"></fa-icon>
          ({{attackResult.def_shield_blocs}} block<span *ngIf="attackResult.def_shield_blocs > 1">s</span>)
        </div>
      </div>
    </app-modal>
</div>