.show-droppings{
  padding: 13px;
}
.buttons-mobile{
  display: none;
    button{
      width:100%
    }
}
.buttons-tablet{
  display: flex;
  margin: auto;
    button{
      width:100%
    }
}
@media (max-width : 768px) {
  .adventure-card{
    margin-bottom: 50px;
  }
  .buttons-mobile{
    display: flex;
    position: fixed;
    width: 90%;
    bottom: 20px;
    margin-left: 5%;
  }
  .buttons-tablet{
    display: none;
  }
}
@media (max-width : 500px) {
  .adventure-card{
    margin-bottom: 80px;
  }
  .buttons-mobile{
    display: flex;
    position: fixed;
    width: 90%;
    bottom: 0px;
    margin-left: 5%;
  }
  .buttons-tablet{
    display: none;
  }
}
