<app-header></app-header>
<router-outlet></router-outlet>
<fa-icon
  [icon]="faInfoCircle" (click)="openTutorial()"
  [routerLink]="['',{ outlets: { tutorial: [currentPanel] } }]">
</fa-icon>


<app-modal
[title]="'Help'"
[headerBackground]="'has-background-info'">
<nav class="panel">
    <p class="panel-tabs">
      <a [routerLink]="['',{ outlets: { tutorial: ['global-tutorial'] } }]" [ngClass]="{'is-active' : currentPanel === 'global-tutorial'}">Global</a>
      <a [routerLink]="['',{ outlets: { tutorial: ['expedition-aviary-tutorial'] } }]" [ngClass]="{'is-active' : currentPanel === 'expedition-aviary-tutorial'}">Expedition</a>
      <a [routerLink]="['',{ outlets: { tutorial: ['attack-tutorial'] } }]" [ngClass]="{'is-active' : currentPanel === 'attack-tutorial'}">Attack</a>
      <a [routerLink]="['',{ outlets: { tutorial: ['expedition-aviary-tutorial'] } }]">Adventure</a>
    </p>
    <router-outlet name="tutorial"></router-outlet>
  </nav>
</app-modal>