/* The switch - the box around the slider */
@import "../../../../node_modules/bulma/bulma.sass";
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .slider:before {
    border-radius: 50%;
    position: absolute;
    content: "☼";
    text-align: center;
    line-height: normal;
    font-size: 8px;
    color: black;
    height: 11px;
    width: 11px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 17px;
  }
  input:checked + .slider {
    background-color: $grey-darker;
  }
  input:checked + .slider:before {
    content: "☾";
    -webkit-transform: translateX(11px);
    -ms-transform: translateX(11px);
    transform: translateX(11px);
  }
}
input:checked + .slider:focus + .slider {
  box-shadow: 0 0 1px $grey-darker;
}

