<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
  </div>
  <div class="navbar-menu d-flex">
    <div class="navbar-start">
      <a class="navbar-item">
        <span><fa-icon [icon]="faCrow"></fa-icon> Aviary</span>
      </a>
      <a class="navbar-item">
        <span><fa-icon [icon]="faMapSigns"></fa-icon> Expeditions</span>
      </a>
      <a class="navbar-item">
        <span><fa-icon [icon]="faSkullCrossbones"></fa-icon> Attacks</span>
      </a>
      <a class="navbar-item">
        <span><fa-icon [icon]="faCrow"></fa-icon> Upgrade</span>
      </a>
      <a class="navbar-item">
        <span>others <fa-icon [icon]="faCrow"></fa-icon></span>
      </a>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <label class="switch mv-auto ">
          <input type="checkbox" (click)="changeStyleMode(!darkMode)">
          <span class="slider round">
          </span>
        </label>
      </div>
      <a class="navbar-item">
        <span>Me <fa-icon [icon]="faCrow"></fa-icon></span>
      </a>
    </div>
  </div>
</nav>