<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
  <div class="navbar-brand d-flex">
    <a class="navbar-item" [routerLink]="['index']">
      <img src="assets/pigeons/firegeon.png" />
      <span> Pigeons agency</span>
    </a>
    <a
      role="button"
      class="navbar-burger"
      data-target="navMenu"
      aria-label="menu"
      aria-expanded="false"
      (click)="toggle()"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
    <span class="notif has-background-danger is-hidden-desktop" *ngIf="nbNotification > 0">
      {{nbNotification}}
    </span>
  </div>
  <div class="navbar-menu" id="navMenu">
    <div class="navbar-start">
      <a [routerLink]="['aviary']" class="navbar-item" (click)="toggle()">
        <span><fa-icon [icon]="faCrow"></fa-icon> Aviary</span>
      </a>
      <a [routerLink]="['expeditions']" class="navbar-item" (click)="toggle()">
        <span><fa-icon [icon]="faMapSigns"></fa-icon> Expeditions</span>
      </a>
      <a [routerLink]="['attack']" class="navbar-item" (click)="toggle()">
        <span><fa-icon [icon]="faSkullCrossbones"></fa-icon> Attacks</span>
      </a>
      <a [routerLink]="['upgrade']" class="navbar-item" (click)="toggle()">
        <span><fa-icon [icon]="faArrowAltCircleUp"></fa-icon> Upgrade</span>
      </a>
      <a class="navbar-item has-dropdown is-hoverable">
        <span class="navbar-link">Others
          <span class="notif has-background-danger is-hidden-mobile" *ngIf="nbNotification > 0">
            {{nbNotification}}
          </span></span>
        <div class="navbar-dropdown">
          <!-- <a class="navbar-item" (click)="toggle()">
            Event&nbsp;<fa-icon [icon]="faCalendarDay"></fa-icon>
          </a> -->
          <a [routerLink]="['adventure']" class="navbar-item" (click)="toggle()">
            Adventure&nbsp;<fa-icon [icon]="faRoute"></fa-icon>
          </a>
          <a
            class="navbar-item"
            [routerLink]="['leaderboard']"
            (click)="toggle()"
          >
            Leaderboard&nbsp;<fa-icon [icon]="faTrophy"></fa-icon>
          </a>
          <a [routerLink]="['history']" class="navbar-item" (click)="toggle()">
            History&nbsp;<fa-icon [icon]="faScroll"></fa-icon>
              <span class="notif has-background-danger" *ngIf="nbNotification > 0">
                {{nbNotification}}
              </span>
          </a>
        </div>
      </a>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <label class="switch mv-auto">
          <input
            id="dark-mode"
            type="checkbox"
            (click)="changeStyleMode(!darkMode); toggle()"
          />
          <span class="slider round"> </span>
        </label>
      </div>
      <a class="navbar-item has-dropdown is-hoverable">
        <span class="navbar-link"
          >{{name}}&nbsp;<fa-icon [icon]="faUserAlt"></fa-icon
        ></span>
        <div class="navbar-dropdown">
          <a class="navbar-item" (click)="logOut()">
            Log out&nbsp;<fa-icon [icon]="faSignOutAlt"></fa-icon>
          </a>
        </div>
      </a>
    </div>
  </div>
</nav>
