<div class="container" *ngIf="users">
    <table class="table">
        <thead>
            <tr>
                <td>Username</td>
                <td>Level</td>
                <td>Military score</td>
                <td>Attack with</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users; let index = index" [ngClass]="{
                'has-background-success-light': user.id === currentUser.id,
                'has-background-danger-light': user.player.lvl > currentUser.player.lvl,
                'has-background-warning-light': user.player.lvl < currentUser.player.lvl,
                'has-background-primary-light': user.player.lvl === currentUser.player.lvl,
            }">
                <td>{{user.username}}</td>
                <td>{{user.player.lvl}}</td>
                <td>{{user.player.military_score}}</td>
                <td [class.attack-buttons]="user.id !== currentUser.id">
                    <button 
                      class="button is-danger" 
                      *ngIf="user && user.id !== currentUser.id" 
                      (click)="attackButtonAction('A',user.id)"
                      [disabled]="currentUser.player.last_attacked === user.id || isDefendTeamProtected(user.player.protected_until) || isNextAttackPossible(currentUser.player.time_last_attack)">
                        Team A
                    </button>
                    <button 
                      class="button is-danger" 
                      *ngIf="user && user.id !== currentUser.id" 
                      (click)="attackButtonAction('B',user.id)"
                      [disabled]="currentUser.player.last_attacked === user.id  || isDefendTeamProtected(user.player.protected_until) || isNextAttackPossible(currentUser.player.time_last_attack)">
                        Team B
                    </button>
                </td>
            </tr>
        </tbody>
    </table>


    <app-modal
      [title]="modalTitle"
      [headerBackground]="modalHeaderBackground">
      <div class="columns is-multiline has-text-centered" *ngIf="modal && attackResult">
        <div class="column is-two-fifths pigeons">
          You <br>
          <app-attack-pigeon *ngFor="let attackPigeon of attackPigeons" [pigeon]="attackPigeon"></app-attack-pigeon>
        </div>
        <div class="column is-size-4 is-one-fifths vs">
          {{attackResult.atk_tot_score}} VS {{attackResult.def_tot_score}}
        </div>
        <div class="column is-two-fifths pigeons">
          Oponent <br>
          <app-attack-pigeon *ngFor="let defendPigeon of defendPigeons" [pigeon]="defendPigeon"></app-attack-pigeon>
        </div>

        <div class="column is-half">
          You<br>
          <fa-icon [icon]="faFistRaised"></fa-icon>
          {{attackResult.atk_tot_phys}}<br>
          <fa-icon [icon]="faHatWizard"></fa-icon>
          {{attackResult.atk_tot_magic}}<br>
          <fa-icon [icon]="faShieldAlt"></fa-icon>
          ({{attackResult.atk_shield_blocs}} block<span *ngIf="attackResult.atk_shield_blocs > 1">s</span>)
        </div>
        <div class="column is-half">
          Oponent<br>
          <fa-icon [icon]="faFistRaised"></fa-icon>
          {{attackResult.def_tot_phys}}<br>
          <fa-icon [icon]="faHatWizard"></fa-icon>
          {{attackResult.def_tot_magic}}<br>
          <fa-icon [icon]="faShieldAlt"></fa-icon>
          ({{attackResult.def_shield_blocs}} block<span *ngIf="attackResult.def_shield_blocs > 1">s</span>)
        </div>
      </div>
    </app-modal>
</div>