table{
    width: 100%;
}
.gold{
    background-color: rgb(240 231 183);
    color: rgb(174 168 28) !important;
}
.silver{
    background-color: rgb(219,219,219);
    color: rgb(139 139 129) !important;
}
.bronze{
    background-color: rgb(230 207 186);
    color: rgb(161 98 35) !important;
}