<div class="container">
    <table class="table">
        <thead>
            <tr>
                <td>Rank</td>
                <td>Username</td>
                <td>Level</td>
                <td>Military score</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of userList; let index = index" [ngClass]="{'gold': index === 0, 'silver': index === 1, 'bronze': index === 2,'has-background-primary-light has-text-primary': user.id  === me.id && index > 2 }">
                <td>{{ index + 1}}</td>
                <td>{{user.username}} <fa-icon *ngIf="index < 3" [icon]="index === 0 ? faTrophy : index === 1 ? faMedal :faAward"></fa-icon></td>
                <td>{{user.player.lvl}}</td>
                <td>{{user.player.military_score}}</td>
            </tr>
        </tbody>
    </table>
</div>