<div class="container d-flex" *ngIf="level && player">
    <nav class="level m-auto">
    <div class="level-item has-text-centered">
        <div>
        <p class="heading">Pigeon</p>
        <p class="title">0/{{level.max_pigeons}}</p>
        </div>
    </div>
    <div class="level-item has-text-centered">
        <div>
        <p class="heading">Seeds</p>
        <p class="title">{{player.player.seeds}}/{{level.max_seeds}}</p>
        </div>
    </div>
    <div class="level-item has-text-centered">
        <div>
        <p class="heading">Feathers</p>
        <p class="title">{{player.player.feathers}}/{{level.max_droppings}}</p>
        </div>
    </div>
    <div class="level-item has-text-centered">
        <div>
        <p class="heading">Dropping</p>
        <p class="title">{{player.player.droppings}}/{{level.max_droppings}}</p>
        </div>
    </div>
    </nav>
</div>
