<div class="container d-flex" *ngIf="level && globalInfo">
  <nav class="columns is-multiline m-auto percent90">
    <div class="column is-full">
      <p class="has-text-centered is-size-3">{{globalInfo.user.username}} (Level {{globalInfo.user.player.lvl}})</p>
    </div>
    <app-dashboard-card class="column has-text-centered" [actuelNumber]="globalInfo.nb_pigeons"
      [maxNumber]="level.max_pigeons" [title]="'Pigeon'">
    </app-dashboard-card>
    <app-dashboard-card class="column has-text-centered" [actuelNumber]="seeds" [maxNumber]="level.max_seeds"
      [title]="'Seeds'">
    </app-dashboard-card>
    <app-dashboard-card class="column has-text-centered" [actuelNumber]="globalInfo.user.player.feathers"
      [maxNumber]="level.max_feathers" [title]="'Feathers'">
    </app-dashboard-card>
    <app-dashboard-card class="column has-text-centered" [actuelNumber]="droppings" [maxNumber]="level.max_droppings"
      [title]="'Dropping'">
    </app-dashboard-card>
    <p class="column is-full has-text-centered">
      <span class="mail">
        pigeonsagency.game@gmail.com
      </span>
      &nbsp;
      <a href="https://discord.gg/E9WNdCBd" target="_blank">
        <fa-icon [icon]="faDiscord"></fa-icon>
      </a>
    </p>
  </nav>
</div>