<div class="container d-flex" *ngIf="level && player">
  <nav class="columns m-auto percent90">
    <app-dashboard-card
      class="column has-text-centered"
      [actuelNumber]="player.nb_pigeons"
      [maxNumber]="level.max_pigeons"
      [title]="'Pigeon'"
    >
    </app-dashboard-card>
    <app-dashboard-card
      class="column has-text-centered"
      [actuelNumber]="seeds"
      [maxNumber]="level.max_seeds"
      [title]="'Seeds'"
    >
    </app-dashboard-card>
    <app-dashboard-card
      class="column has-text-centered"
      [actuelNumber]="player.user.player.feathers"
      [maxNumber]="level.max_feathers"
      [title]="'Feathers'"
    >
    </app-dashboard-card>
    <app-dashboard-card
      class="column has-text-centered"
      [actuelNumber]="droppings"
      [maxNumber]="level.max_droppings"
      [title]="'Dropping'"
    >
    </app-dashboard-card>
  </nav>
</div>
