<div class="container" *ngIf="player && info">
    <div class="columns">
        <div class="column">
            <app-expedition-card 
                *ngFor="let expedition of expeditionList; let index = index" 
                [info]="expedition">
                <button 
                    (click)="buyPigeon(index + 1)" 
                    class="column is-one-fifth m-auto button is-primary"
                    [disabled]="player.lvl < (index + 1) || seeds < expedition.seeds || (expeditions.length) === level.max_pigeons">
                    Launch {{expedition.seeds}}
                </button>
            </app-expedition-card>
        </div>
        <div class="column is-one-third">
            <div class="box my-2">
                <article>
                    <p>Seeds : {{seeds}}/{{level.max_seeds}}</p>
                    <progress 
                        class="progress is-primary" 
                        [value]="seeds" 
                        [max]="level.max_seeds">
                    </progress>
                    <p>Pigeons : {{(expeditions.length)}}/{{level.max_pigeons}}</p>
                    <progress 
                        class="progress is-primary" 
                        [value]="info.nb_pigeons" 
                        [max]="level.max_pigeons">
                    </progress>
                </article>
            </div>
            <p>Current Expedition(s) :</p>
            <app-expedition-cooldown 
                *ngFor="let pigeon of expeditions" 
                [pigeon]="pigeon">
            </app-expedition-cooldown>
        </div>
    </div>
</div>
    