<div
  *ngIf="timeLeft !== undefined"
  class="box my-2"
  [ngClass]="{ 'is-primary is-light notification': timeLeft <= 0 }"
>
  <div *ngIf="timeLeft > 0; else completed">
    <p>
      <span class="has-text-weight-bold">{{expedition.name}}</span><br />
      Time left : {{ timeLeft|secondToMin }}/{{ duration|secondToMin }}
    </p>
    <progress
      class="progress is-primary"
      [value]="timeLeft"
      [max]="duration"
    ></progress>
  </div>
  <ng-template #completed> Completed ! </ng-template>
</div>
