<img src="assets/tutorial/aviary.png">
<p>
    Here you can find your pigeons. Pigeons generate droppings over time. <br>
    You can sell your pigeons to gain <span class="has-text-weight-bold">feathers</span> (needed to level up) <br> <br>
    
    Assign up to 5 pigeons per team (A or B), that will be used to attack other players (pvp), or to launch adventures (pve). <br>
    You can also select which team you want to use for defenses from other players. <br> <br>
    
    Pigeons have 3 main stats during fights: strength :fight: magic & shield. <br>
    Strength pigeons usually have the  highest base values, but strength is diminished by shields. <br>
    Magic pigeons are usually a bit lower than pure strength, but magic is not impacted by shields. <br>
    Shield pigeons have shield (and a bit of magic). The shield value is multiplied by the number of opposing strength pigeons. <br>
    Formula : sum of your <fa-icon [icon]="faFistRaised"></fa-icon> + sum of your <fa-icon [icon]="faHatWizard"></fa-icon> - ( sum of opposing <fa-icon [icon]="faShieldAlt"></fa-icon> * number of your <fa-icon [icon]="faFistRaised"></fa-icon> pigeons)
</p>
