<div class="container d-flex" *ngIf="playerInfo">
    <div class="m-auto percent80">
        <div class="d-flex">
            <h1 class="m-auto">
                Level : {{playerInfo.user.player.lvl}}
            </h1>
        </div>
        <div class="columns percent80 has-text-centered">
            <div class="column">
                Seeds ({{level.seeds_minute}}/min) : <br> {{seeds|number: '1.0-0'}}/{{level.max_seeds}}<br>
                <progress 
                    class="progress is-primary" 
                    [value]="seeds" 
                    [max]="level.max_seeds">
                </progress>
            </div>
            <div class="column">
                Droppings ({{playerInfo.droppings_minute}}/min) : <br> {{droppings|number: '1.0-0'}}/{{level.max_droppings}}<br>
                <progress 
                    class="progress is-primary" 
                    [value]="droppings" 
                    [max]="level.max_droppings">
                </progress>
            </div>
            <div class="column">
                Feathers : <br> {{playerInfo.user.player.feathers}}/{{level.max_feathers}}<br>
                <progress 
                    class="progress is-primary" 
                    [value]="playerInfo.user.player.feathers" 
                    [max]="level.max_feathers">
                </progress>
            </div>
        </div>
        <div class="columns is-multilines percent70">
            <div class="column d-flex">
                <div class="m-auto text-center">
                    Re-fill seeds with droppings :<br>
                    <button 
                        (click)="exchangeDroppingsWithSeeds()"
                        class="button is-primary" 
                        [disabled]="droppings < droppings_needed_to_buy_bucket">
                        Exchange<br>
                        {{droppings_needed_to_buy_bucket}}&nbsp;<fa-icon [icon]="faPoop"></fa-icon>
                    </button>
                </div>
            </div>
            <div class="column d-flex">
                <div class="m-auto text-center">
                    <p>Upgrade to level {{playerInfo.user.player.lvl + 1}} :</p>
                    <button 
                        (click)="levelUp()"
                        class="button is-primary m-auto" 
                        [disabled]="playerInfo.user.player.feathers < level.max_feathers">
                        Exchange<br>
                        {{level.max_feathers}}&nbsp;<fa-icon [icon]="faFeatherAlt"></fa-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>