.percent80{
    width: 80%;
    margin: 20px 10%;
}
.percent70{
    width: 70%;
    margin: 20px 15%;
}
.text-center{
    text-align: center;
    button{
        padding: 25px 20px;
    }
}