/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/grid/_all.sass";
@import "../node_modules/bulma/sass/components/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/helpers/_all.sass";
@import "../node_modules/bulma/sass/layout/_all.sass";
@import "../node_modules/bulma/sass/elements/_all.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/bulma.sass";

body.dark, body.dark * {
    $body-background-color:$grey-darker;
    color: white;
    ::placeholder {
        color: gray;
    }
    .card{
        box-shadow: 0 0.5em 2em -0.125em rgb(255 255 255 / 33%), 0 0px 0 1px rgb(255 255 255 / 14%);
    }
    .navbar-menu, .navbar-menu > *{
        background: inherit;
    }
    background-color: $body-background-color;
}

body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
}
.d-flex{ display: flex !important; }
.m-auto{ margin:auto !important; }
.container{ min-height: calc(100vh - 52px); }
.auth.container{ min-height: 100vh; }
.p-to-m{
    padding: 0;
    >*{
        padding: 15px;
    }
}
h1{
    font-size: x-large;
    margin-bottom: 1rem;
}