/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/grid/_all.sass";
@import "../node_modules/bulma/sass/components/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/helpers/_all.sass";
@import "../node_modules/bulma/sass/layout/_all.sass";
@import "../node_modules/bulma/sass/elements/_all.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/bulma.sass";



$beige: #feffdb;
$light-orange: #ffc60b;
$orange: #ff8b00;
$grey: #444444;
$blue: #209cee;
$green: #23ce78;
$red: #f14438;
$purple: #900edb;
$solidgold:#F9A602;
$lightgreen:#23ce7938;

.pigeon-card-default {
    box-shadow: 0 1em 2em -0.125em transparent 0 0px 0 1px rgba(255, 255, 255, 0.14);
}

.legendary {
    box-shadow: 0 1em 2em -0.125em $light-orange, 0 0px 0 1px $light-orange  !important;

    .stars {
        color: $light-orange;
    }
}

.epic {
    box-shadow: 0 1em 2em -0.125em #900edb, 0 0px 0 1px #900edb !important;

    .stars {
        color: $purple;
    }
}

.rare {
    box-shadow: 0 1em 2em -0.125em $blue, 0 0px 0 1px $blue  !important;

    .stars {
        color: $blue;
    }
}

.uncommon {
    box-shadow: 0 1em 2em -0.125em $green, 0 0px 0 1px $green  !important;

    .stars {
        color: $green;
    }
}

body.dark, body.dark > * {
    .title{
        color: white!important;
    }
    $body-background-color:$grey-darker;
    color: white;
    ::placeholder {
        color: gray;
    }
    .card{
        box-shadow: 0 1em 2em -0.125em rgba(255, 255, 255, 0.33) 0 0px 0 1px rgba(255, 255, 255, 0.14);
    }
    .navbar-menu, .navbar-menu > *{
        background: inherit;
    }
    background-color: $body-background-color;
    transition: background-color 0.3s ease-in-out;
}

body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    transition: background-color 0.3s ease-in-out;
}
.d-flex{ display: flex !important; }
.m-auto{ margin: auto !important; }
.mv-auto{ margin: auto 0 !important; }
.container{ min-height: calc(100vh - 52px); padding: 15px;}
.auth.container{ min-height: 100vh; }
.p-to-m{
    padding: 0;
    >*{
        padding: 15px;
    }
}
h1{
    font-size: x-large;
    margin-bottom: 1rem;
}
.mt-1{
    margin-top: 00.5em;
}
button.column{
    height: auto;
}

.columns {
    margin: 0;
}