<p>
    You can attack other players to try and climb up the leaderboard. You can even steal some of their droppings if you win fights.<br><br>
    If there is too much of a difference in military score between you and the opponent, you won't win anything.<br><br>
    You can only attack players once every 2 minutes max. If a player is attacked, he is protected for a period of 20 minutes. (Unless he attacks someone in the meantime !)<br><br>
    Beware of attacking higher level players, their pigeons might be way stronger !
</p>
