<img src="assets/tutorial/expeditions.png" alt="expedition tutorial image">
<p>
    Use <span>seeds</span> to go on <span>expeditions</span> and gain new pigeons. Once the expedition is done, collect your new pigeon in the <span>Aviary</span>.<br><br>
    Seeds are gained over time. The higher your level, the faster you’ll generate seeds !<br><br>
    The different options per expedition level give more chances to find the desired pigeon type (fighter, mage, shield), but no guarantee !<br><br>
</p>
