<div class="container" *ngIf="player">
  <div class="columns">
    <div class="column">
      Current <fa-icon [icon]="faFeatherAlt"></fa-icon> : 
      {{player.feathers}}/{{level.max_feathers}}<br>
      <progress
        [ngClass]="player.feathers <  level.max_feathers ? 'is-primary': 'is-danger'"
        class="progress"
        [value]="player.feathers"
        [max]="level.max_feathers"
      ></progress>
      Number of pigeons : {{pigeons.length}}/{{level.max_pigeons}}<br>
      Team A : {{nbInTeamA}}/5 <br/>
        {{sumTeamAAttack}} <fa-icon [icon]="faFistRaised"></fa-icon> 
        {{sumTeamAMagic}} <fa-icon [icon]="faHatWizard"></fa-icon> 
        {{sumTeamAShield}} <fa-icon [icon]="faShieldAlt"></fa-icon> <br>
      Team B : {{nbInTeamB}}/5 <br/>
      {{sumTeamBAttack}} <fa-icon [icon]="faFistRaised"></fa-icon> 
      {{sumTeamBMagic}} <fa-icon [icon]="faHatWizard"></fa-icon> 
      {{sumTeamBShield}} <fa-icon [icon]="faShieldAlt"></fa-icon>
    </div>
    <div class="column">
      <div class="select">
        <select (change)="selectFilter($event.target.value)">
          <ng-container 
          *ngFor="let sortValue of selectOrderValues" >
            <option 
            [selected]="sortValue.key === 'default'"
            [value]="sortValue.key">
              {{sortValue.value}}
            </option>
          </ng-container>
        </select>
      </div><br><br>
      <div class="toggle-defense-team">PVP defense team :
        <label class="switch">
          <input
            type="checkbox" (click)="setDefenseTeam()" [checked]="player.defense_team === 'B'"
          />
          <span class="slider round has-background-primary"> </span>
        </label>
        
      </div>
    </div>
  </div>
  <div class="grid-columns" *ngIf="pigeons">
    <app-pigeon-card *ngFor="let pigeon of pigeons | aviarySort:sortBy" [pigeon]="pigeon" (sellPigeonEvent)="sellPigeon($event)"
      (openCardEvent)="openCard($event)" class="grid-column">
      <button (click)="toggleTeam(pigeon,'A')" class="card-footer-item button"
        [ngClass]="{'is-primary' : pigeon.is_in_team_A === false,'is-danger' : pigeon.is_in_team_A === true}"
        [disabled]="this.nbInTeamA >= 5 && pigeon.is_in_team_A === false">
        <span *ngIf="pigeon.is_in_team_A === false;else removeText">
          <fa-icon [icon]="faPlus"></fa-icon> team A
        </span>
        <ng-template #removeText>
          <span>
            <fa-icon [icon]="faMinus"></fa-icon> team A
          </span>
        </ng-template>
      </button>
      <button (click)="toggleTeam(pigeon,'B')" class="card-footer-item button"
        [ngClass]="{'is-primary' : pigeon.is_in_team_B === false,'is-danger' : pigeon.is_in_team_B === true}"
        [disabled]="this.nbInTeamB >= 5 && pigeon.is_in_team_B === false">
        <span *ngIf="pigeon.is_in_team_B === false;else removeTextB">
          <fa-icon [icon]="faPlus"></fa-icon> team B
        </span>
        <ng-template #removeTextB>
          <span>
            <fa-icon [icon]="faMinus"></fa-icon> team B
          </span>
        </ng-template>
      </button>
    </app-pigeon-card>
  </div>
</div>